<div class="row justify-content-center">
  <div class="col-4">
    <form class="d-flex">
      <input
        name="search"
        class="form-control me-2"
        [(ngModel)]="phrase"
        (keyup)="Search()"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <app-product-card *ngFor="let product of products" [product]="product">
    </app-product-card>
  </div>
</div>
