<div class="row justify-content-center py-3">
  <div class="col-4">
    <select [(ngModel)]="filterKey" class="form-control">
      <option value="">All products</option>
      <option *ngFor='let key of keys' [value]="key">{{ key | titlecase }}</option>
    </select>
  </div>
  <div class="col-8">
    <form class="d-flex">
      <input name="search" class="form-control me-2" [(ngModel)]="phrase" type="search" placeholder="Search"
        aria-label="Search" />
    </form>
  </div>
</div>

<div class="container-fluid bg-dark">
  <div class="row bg-dark text-white">
    <div class="col-12 d-flex flex-md-row flex-column text-center justify-content-between align-items-center mx-0">
      <p>Name</p>
      <p class="sorterlink mr-4" (click)="onSorterSelect('name')"><i class="fa fa-caret-down" aria-hidden="true"></i>
      </p>
      <p class="sorterlink mr-4" (click)="onBackSorterSelect('name')"><i class="fa fa-caret-up" aria-hidden="true"></i>
      </p>
      <p>Price</p>
      <p class="sorterlink mr-4" (click)="onSorterSelect('price')"><i class="fa fa-caret-down" aria-hidden="true"></i>
      </p>
      <p class="sorterlink mr-4" (click)="onBackSorterSelect('price')"><i class="fa fa-caret-up" aria-hidden="true"></i>
      </p>
      <p>Stock</p>
      <p class="sorterlink mr-4" (click)="onSorterSelect('stock')"><i class="fa fa-caret-down" aria-hidden="true"></i>
      </p>
      <p class="sorterlink mr-4" (click)="onBackSorterSelect('stock')"><i class="fa fa-caret-up" aria-hidden="true"></i>
      </p>
      <p>Featured</p>
      <p class="sorterlink mr-4" (click)="onSorterSelect('featured')"><i class="fa fa-caret-down"
          aria-hidden="true"></i></p>
      <p class="sorterlink mr-4" (click)="onBackSorterSelect('featured')"><i class="fa fa-caret-up"
          aria-hidden="true"></i>
      </p>
      <p>Active</p>
      <p class="sorterlink mr-4" (click)="onSorterSelect('active')"><i class="fa fa-caret-down" aria-hidden="true"></i>
      </p>
      <p class="sorterlink mr-4" (click)="onBackSorterSelect('active')"><i class="fa fa-caret-up"
          aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-5 d-flex justify-content-between">
  <div *ngFor="let product of products | filter:phrase:filterKey | sorter:sorterKey" class="mb-2">
    <app-product-card [product]="product"> </app-product-card>
  </div>
</div>
