<div class="row mb-5">
  <div *ngIf="product$ | async as product" class="col-12 mt-3">
    <form #productFrom="ngForm">
      <div class="row d-flex flex-md-row flex-column">
        <div class="col-md-4">
          <div class="form-group col-md-4">
            <img class="productImg" [src]="product.image" [alt]="product.name">
            <input class="form-control" [(ngModel)]="product['id']" type="hidden" name="id">
          </div>
        </div>
        <div class="col-md-8 pl-0">
          <div class="form-group col-12">
            <label for="productCategory">Category</label>
            <select class="form-control" [(ngModel)]="product['catId']" type="text" name="catID" id="productCategory"
              [disabled]="product['disabled']" required>
              <option value="1">Business & Casual</option>
              <option value="2">Calligraphy</option>
            </select>
          </div>
          <div class="form-group col-12">
            <label for="productName">Name</label>
            <input class="form-control" [(ngModel)]="product['name']" type="text" name="name" id="productName"
              [disabled]="product['disabled']" placeholder="A termék neve" required>
          </div>
          <div class="form-group col-12">
            <label for="productImage">Image</label>
            <input class="form-control" [(ngModel)]="product['image']" type="text" name="image" id="productImage"
              [disabled]="product['disabled']" placeholder="./assets/img/10000.jpg">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <label for="productDescription">Description</label>
          <textarea class="form-control" [(ngModel)]="product['description']" type="text" name="description"
            id="productDescription" rows="3" [disabled]="product['disabled']" placeholder="Rövid leírás"
            required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="productPrice">Price</label>
          <div class="input-group mb-3">
            <input class="form-control" [(ngModel)]="product['price']" type="number" name="price" id="productPrice"
              [disabled]="product['disabled']" required>
            <div class="input-group-append">
              <span class="input-group-text" id="basic">Ft</span>
            </div>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="productStock">Stock</label>
          <div class="input-group mb-3">
            <input class="form-control" [(ngModel)]="product['stock']" type="number" name="stock" id="productStock"
              [disabled]="product['disabled']" required>
            <div class="input-group-append">
              <span class="input-group-text" id="basic">db</span>
            </div>
          </div>
        </div>
        <div class="form-check m-2">
          <label for="productFeatured" class="form-check-label">Featured</label>
          <input class="form-control" [(ngModel)]="product['featured']" type="checkbox" name="featured"
            id="productFeatured" [disabled]="product['disabled']">
        </div>
        <div class="form-check m-2">
          <label for="productActive" class="form-check-label">Active</label>
          <input class="form-control" [(ngModel)]="product['active']" type="checkbox" name="active" id="productActive"
            [disabled]="product['disabled']">
        </div>
      </div>
      <input class="form-control" [(ngModel)]="product['disabled']" type="hidden" name="disabled">
      <button *ngIf="product['disabled'] == true" [disabled]="productFrom.invalid"
        class="btn btn-success mt-3 mt-md-0 mr-3" (click)="onUpdateProduct(product)">edit</button>
      <button *ngIf="product['disabled'] == false" [disabled]="productFrom.invalid"
        class="btn btn-warning mt-3 mt-md-0 mr-3" (click)="onSaveProduct(product)">save</button>
      <button *ngIf="product['disabled'] == false" [disabled]="productFrom.invalid"
        class="btn btn-danger mt-3 mt-md-0 mr-3" (click)="onDeleteProduct(product)">delete</button>
      <button [routerLink]="['/admin']" class="btn btn-secondary mt-3 mt-md-0" type="submit">cancel</button>
    </form>
  </div>
</div>
