<div class="row">
  <div *ngIf="product$ | async as product" class="col-6 offset-3 d-flex justify-content-center">
    <img [src]="product.image" [alt]="product.name" class="h-100" />
    <div class="container text-center">
      <div class="row">
        <div class="col-12">
          <h4> {{ product.name }}</h4>
        </div>
        <div class="col-12">
          <p><strong>Description:</strong> {{ product.description }}</p>
        </div>
        <div class="col-12">
          <p><strong>Price:</strong> {{ product.price }} HUF</p>
        </div>
        <div class="col-12">
          <p><strong>On Stock:</strong> {{ product.stock }}</p>
        </div>
        <div class="col-12">
          <p *ngIf="product.featured == true"> Featured</p>
        </div>
        <div class="col-12">
          <p *ngIf="product.active == true"> Active</p>
          <p *ngIf="product.active == false"> Inactive</p>
        </div>
        <button [routerLink]="['/cat0'+ product.catId ]" id="btn-productpage" class="btn btn-dark btn-block" mx-5>Back</button>
      </div>
    </div>
  </div>
</div>
