<div class="row mb-5">
  <h2>Add new product</h2>
  <div class="col-12 mt-3">
    <form (ngSubmit)="onUpdate(productFrom.value)" #productFrom="ngForm">
      <input class="form-control" [(ngModel)]="product['id']" type="hidden" name="id">
      <div class="row">
        <div class="form-group col-md-4 pl-md-0">
          <label for="productCategory">Category</label>
          <select class="form-control" [(ngModel)]="product['catId']" type="number" name="catId" id="productCategory"
            required>
            <option value="1">Business & Casual</option>
            <option value="2">Calligraphy</option>
          </select>
        </div>
        <div class="form-group col-md-8 pl-md-0">
          <label for="productName">Name</label>
          <input class="form-control" [(ngModel)]="product['name']" type="text" name="name" id="productName"
            placeholder="Name of product" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12 pl-md-0">
          <label for="productDescription">Description</label>
          <textarea class="form-control" [(ngModel)]="product['description']" type="text" name="description"
            id="productDescription" rows="3" placeholder="Lorem Ipsum..." required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12 pl-md-0">
          <label for="productImage">Image</label>
          <input class="form-control" [(ngModel)]="product['image']" type="text" name="image" id="productImage"
            placeholder="./assets/img_small/business/business_pen_00.jpg">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3 pl-md-0">
          <label for="productPrice">Price</label>
          <div class="input-group mb-3">
            <input class="form-control" [(ngModel)]="product['price']" type="number" name="price" id="productPrice"
              required>
            <div class="input-group-append">
              <span class="input-group-text" id="basic">Ft</span>
            </div>
          </div>
        </div>
        <div class="form-group col-md-3 pl-md-0">
          <label for="productStock">Stock</label>
          <div class="input-group mb-3">
            <input class="form-control" [(ngModel)]="product['stock']" type="number" name="stock" id="productStock"
              required>
            <div class="input-group-append">
              <span class="input-group-text" id="basic">db</span>
            </div>
          </div>
        </div>
        <div class="form-check m-2">
          <label for="productFeatured" class="form-check-label">Featured</label>
          <input class="form-control" [(ngModel)]="product['featured']" type="checkbox" name="featured"
            id="productFeatured">
        </div>
        <div class="form-check m-2">
          <label for="productActive" class="form-check-label">Active</label>
          <input class="form-control" [(ngModel)]="product['active']" type="checkbox" name="active" id="productActive">
        </div>
      </div>
      <input class="form-control" [(ngModel)]="product['disabled']" type="hidden" name="disabled">
      <button [disabled]="productFrom.invalid" class="btn btn-success mt-3 mt-md-0 mr-3" type="submit">create</button>
      <button [routerLink]="['/admin']" class="btn btn-secondary mt-3 mt-md-0" type="submit">cancel</button>
    </form>
  </div>
</div>
