<div class="row justify-content-center py-3 mb-5">
  <div class="col-4">
    <select [(ngModel)]="filterKey" class="form-control">
      <option value="">All products</option>
      <option *ngFor="let key of keys" [value]="key">
        {{ key | titlecase }}
      </option>
    </select>
  </div>
  <div class="col-8">
    <form class="d-flex">
      <input name="search" class="form-control me-2" [(ngModel)]="phrase" type="search" placeholder="Search"
        aria-label="Search" />
    </form>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr class="text-center">
      <th>#</th>
      <th>CategoryID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Featured</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList | async | filter:phrase:filterKey">
      <td>{{ product.id }}</td>
      <td><input class="catId text-right" type="number" [(ngModel)]="product.catId" [disabled]="product['disabled']">
      </td>
      <td><input type=" text" [(ngModel)]="product.name" [disabled]="product['disabled']">
      </td>
      <td><input type="text" [(ngModel)]="product.description" [disabled]="product['disabled']"></td>
      <td><input type="text" [(ngModel)]="product.image" [disabled]="product['disabled']"></td>
      <td><input class="price text-right" type="number" [(ngModel)]="product.price" [disabled]="product['disabled']">
      </td>
      <td><input class="stock text-right" type="number" [(ngModel)]="product.stock" [disabled]="product['disabled']">
      </td>
      <td>
        <div class="custom-control custom-switch d-flex justify-content-center">
          <input type="checkbox" class="custom-control-input featured" id={{product.id}} [(ngModel)]="product.featured"
            [disabled]="product['disabled']">
          <label class="custom-control-label" for={{product.id}}></label>
        </div>
      </td>
      <td>
        <div class="custom-control custom-switch d-flex justify-content-center">
          <input type="checkbox" class="custom-control-input active" id={{product.name}} [(ngModel)]="product.active"
            [disabled]="product['disabled']">
          <label class="custom-control-label" for={{product.name}}></label>
        </div>
      </td>
      <div class="d-flex flex-row">
        <button *ngIf="update === true" (click)="onUpdateProduct(product)"
          class="btn btn-success mt-2 mx-2">edit</button>
        <button *ngIf="update === true" [routerLink]="['/editProduct/', product.id ]"
          class="btn btn-info mt-2">view</button>
        <button *ngIf="update === false" (click)="onSaveProduct(product)"
          class="btn btn-warning mt-2 mx-2">save</button>
        <button *ngIf="update === false" (click)="onDeleteProduct(product)" class="btn btn-danger mt-2">delete</button>
      </div>
    </tr>
  </tbody>
</table>
