.table td {
  padding: 0.7rem 0.4rem !important;
}

.table th {
  padding: 1rem 0.4rem !important;
}

.catId {
  width: 5rem !important;
}
.price {
  width: 4rem !important;
}

.stock {
  width: 2.8rem !important;
}

.featured {
  width: 4.5rem !important;
}

.activeInput {
  width: 4.5rem !important;
}

.admin th {
  cursor: pointer;
}

.hover {

  &:hover {
    background-color: #6c757d;
  }

}
